Repository aaronsisler/shells.client-next-12: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --fix, git add ., prettier --write, npm run lint:style --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": ["npm run lint --fix", "git add ."],
  "*.{jsx,ts,tsx,css,scss,json}": ["prettier --write", "git add ."],
  "*.{css,scss}": ["npm run lint:style --fix", "git add ."]
}

Updating for required updates when cloning
  README.md
  package.json
  src/next.config.js
Due: npm run lint --fix, git add ., prettier --write

Updating for required updates when cloning
  .github/workflows/deploy.yml
  .github/workflows/pull-request.yml
  README.md
Due: none

Updating for required updates when cloning
  package.json
  src/pages/_app.js
Due: npm run lint --fix, git add ., prettier --write

Updating for required updates when cloning
  .stylelintrc.json
Due: git add ., prettier --write

updating for eslint
  .eslintrc.json
Due: git add ., prettier --write

Updating to make sure repo builds correctly
  .github/workflows/pull-request.yml
  README.md
Due: none

Updating to make sure repo builds correctly
  .github/workflows/pull-request.yml
Due: none

Updating readme to trigger build
  README.md
Due: none

Updating version of node
  .github/workflows/pull-request.yml
Due: none

Removing Google maps package
  package-lock.json
  package.json
Due: git add ., prettier --write

Removing unused player lib
  package-lock.json
  package.json
Due: git add ., prettier --write

Udpating readme for docing the new S3 and Cloudfront process
  README.md
Due: none

Updating readme
  README.md
Due: none

npm audit fix
  package-lock.json
Due: git add ., prettier --write

Update for forcing npm install
  package-lock.json
Due: git add ., prettier --write

Updating for the Readme for creating new CF Distro and other tidbits. npm audit fix
  README.md
  package-lock.json
Due: git add ., prettier --write

Updating for some missed configs client name wise
  .github/workflows/deploy.yml
  src/config/config.js
Due: npm run lint --fix, git add .

Updating location of ACM in README
  README.md
Due: none
